<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Germ&aacute;n Nemes | Developer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="gnemes">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <!-- Fonts from Font Awsome -->
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <!-- Magnific popup -->
        <link rel="stylesheet" href="{{ asset('css/magnific-popup.min.css') }}">
        <!-- Vegas slider -->
        <link rel="stylesheet" href="{{ asset('css/vegas.min.css') }}">
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ asset('css/main.min.css') }}">

        <!-- Color styles -->
        <link rel="stylesheet" href="{{ asset('css/blue.min.css') }}">

        <!-- Feature detection -->
        <script src="{{ asset('js/modernizr-2.6.2.min.js') }}"></script>
        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>

        <script type="text/javascript">
            img_base_path = "{{ asset('img') }}";
        </script>
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" id="main-menu">
                        <li><a href="#page-welcome">Home</a>
                        </li>
                        <li><a href="#page-profile">Profile</a>
                        </li>
                        <li><a href="#page-skills">Skills</a>
                        </li>
                        <li><a href="#page-education">Education</a>
                        </li>
                        <li><a href="#page-experience">Experience</a>
                        </li>
                        <li><a href="#page-contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
        <!-- welcome begins -->
        <section id="page-welcome" class="page-welcome">
            <div>
                <ul class="slider-controls">
                    <li>
                        <a id="vegas-next" class="next" href="javascript:void(0)"></a>
                    </li>
                    <li>
                        <a id="vegas-prev" class="prev" href="javascript:void(0)"></a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="row">
                    <header class="centered">
                        <h1>GERM&Aacute;N NEMES</h1>
                        <p>DEVELOPER</p>
                    </header>
                    <div class="social-icons">
                        <a href="https://twitter.com/gnemes" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-twitter"></i></a>
                        <!--
                        <a href="https://www.facebook.com/" class="btn btn-round btn-clear btn-facebook"><i class="fa fa-facebook"></i></a>
                        -->
                        <a href="https://ar.linkedin.com/in/german-nemes-43a5229" class="btn btn-round btn-clear btn-linkedin"><i class="fa fa-linkedin-square"></i></a>
                        <!--
                        <a href="https://www.google.com/" class="btn btn-round btn-clear btn-google"><i class="fa fa-google-plus"></i></a>
                        -->
                        <a href="{{ asset('pdf/gnemes_cv.pdf') }}" class="btn btn-round btn-clear btn-twitter"><i class="fa fa-file-pdf-o"></i></a>
                    </div>
                    <a href="#page-contact" class="btn btn-default hire-me">Hire me!</a>
                </div>
            </div>
        </section>
        <!-- welcome ends -->
        <!-- profile begins -->
        <section id="page-profile" class="page-profile">
            <div class="container">
                <header class="section-header">
                    <h2 class="section-title">Personal Profile</h2>
                    <div class="spacer"></div>
                    <p class="section-subtitle">Excellence, commitment, quality, self-learning attitude. These are not just words to me.</p>
                </header>
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile"><img src="{{ asset('img/profile.png') }}" alt="profile" />
                        </div>
                    </div>
                    <div class="col-md-9">
                        <p>
                            The pursuit of excellence is a constant in my daily work. 
                            I do not like a job done halfway; I always look for perfection in what I do.
                            I am satisfied only when I do something that works efficiently.
                        </p>
                        <p>
                            Much of the knowledge that I have acquired during my career is associated with my self-learning attitude. 
                            I really enjoy the challenge of researching something new and mastering it. I am always looking for new things to 
                            learn or improving things I already know. I think the word 'no' only limits your potential. 
                            Everything is possible for me.
                        </p>
                        <p>
                            I am very enthusiastic and committed to maintain quality and efficiency. I like to commit myself to the things I do, 
                            instead of just being involved. When you love what you do, you give yourself entirely to it. 
                        </p>
                        <p>
                            I have great experience with PHP development and leading teams. What I look for in a job is to improve my 
                            skills and grow with the company.
                        </p>    
                    </div>
                </div>
            </div>
        </section>
        <!-- profile ends -->
        <!-- skills begins -->
        <section id="page-skills" class="page-skills">
            <div class="container">

                <header class="section-header">
                    <h2 class="section-title"><span>Skills</span></h2>
                    <div class="spacer"></div>
                    <p class="section-subtitle">These are my skills, always willing to learn more </p>
                </header>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2 ">
                        <div class="row">
                            <h3>PHP</h3>
                        </div>
                        <div class="row">
                            <h3>Bootstrap</h3>
                        </div>
                        <div class="row">
                            <h3>TDD</h3>
                        </div>
                        <div class="row">
                            <h3>Coding Standard</h3>
                        </div>
                        <div class="row">
                            <h3>PHP Composer</h3>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <h3>MySQL</h3>
                        </div>
                        <div class="row">
                            <h3>Javascript</h3>
                        </div>
                        <div class="row">
                            <h3>Unit Testing</h3>
                        </div>
                        <div class="row">
                            <h3>GIT</h3>
                        </div>
                        <div class="row">
                            <h3>REST</h3>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <h3>jQuery</h3>
                        </div>
                        <div class="row">
                            <h3>Oracle</h3>
                        </div>
                        <div class="row">
                            <h3>OOP</h3>
                        </div>
                        <div class="row">
                            <h3>Linux</h3>
                        </div>
                        <div class="row">
                            <h3>Vagrant</h3>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <h3>Symfony</h3>
                        </div>
                        <div class="row">
                            <h3>SOAP</h3>
                        </div>
                        <div class="row">
                            <h3>Docker</h3>
                        </div>
                        <div class="row">
                            <h3>Tech Interviews</h3>
                        </div>
                        <div class="row">
                            <h3>Subversion</h3>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </section>
        <!-- skills ends -->
        <!-- education begins -->
        <section id="page-education" class="page-education">
            <div class="container">
                <header class="section-header">
                    <h2 class="section-title"><span>Education</span></h2>
                    <div class="spacer"></div>
                    <p class="section-subtitle">University Systems Analyst</p>
                </header>
                <div class="row">
                    <div class="col-md-4">
                        <article class="education">
                            <header>
                                <h3>Universidad Tecnológica Nacional (UTN)</h3>
                                <p>Information Systems Engineering - <strong>On going</strong></p>
                            </header>
                            <p>
                                The engineer in Information Systems is a professional with 
                                solid analytical training that allows them the interpretation 
                                and resolution of problems through the use of methodologies 
                                of systems and information processing technologies. For its 
                                preparation is particularly suitable for integrating 
                                information from different concurrent disciplinary fields to 
                                a common project. The acquired capacity enabling it to meet 
                                solvency planning, development, management and control of 
                                information systems. It has knowledge that allows you to 
                                manage the human, physical and application resources involved 
                                in the development of information systems projects. Acquired 
                                skills that enable it to perform management functions in line 
                                with their training. It is able to address research and 
                                development, integrating interdisciplinary teams for this 
                                purpose in cooperation, or taking effective leadership in the 
                                coordination of technical and methodological thereof.
                            </p>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="education">
                            <header>
                                <h3>Universidad Tecnológica Nacional (UTN)</h3>
                                <p>University Systems Analyst - <strong>Graduated:</strong> 2008</p>
                            </header>
                            <p>
                                University Systems Analyst is oriented to functional analysis 
                                activity and strongly related to the implementation of the 
                                computer in the management and administration. These are their 
                                main activities: The diagnosis of information needs, design 
                                new systems and / or modify existing ones. Make survey, 
                                analysis, design, implementation and testing of information 
                                systems. Assist in the evaluation and selection from the 
                                point of view of information systems, processing equipment 
                                and communication systems base. Participate in the 
                                preparation of project feasibility study. To determine the 
                                profile of the auxiliary human resources for the development 
                                of the Information System; contribute to the selection and 
                                training of the same. Conduct arbitrations, skills and 
                                appraisals related to data processing means.
                            </p>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article class="education">
                            <header>
                                <h3>ESCUELA TECNICA Nº35 "ING. EDUARDO LATZINA"</h3>
                                <p>Computer Technician - <strong>Graduated:</strong> 2002</p>
                            </header>
                            <p>
                                The student is able to:
                                Assemble, analyze and solve problems regarding information 
                                needs developing specific software.
                                Preparing documentation, such as user manuals and systems 
                                related to their specialty.
                                Specific software development through various single-user 
                                level programming languages and / or Multi.
                                Audit and determine the reliability and efficiency of a 
                                software management level and / or accounting.
                                Evaluate and deploy software packages.
                                Support and user training.
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!-- education ends -->
        
        <!-- experience begins -->
        <section id="page-experience" class="page-experience">
            <div class="container">
                <header class="section-header">
                    <h2 class="section-title"><span>Experience</span></h2>
                    <div class="spacer"></div>
                    <p class="section-subtitle">This is why you need me</p>
                </header>
                
                <div class="row">
                    <div class="col-md-3">
                        <article class="experience">
                            <header>
                                <h3>Intraway Corp.</h3>
                                <p>Project Leader / December 2011 - February 2016</p>
                            </header>
                            <p>
                                Front-end DOCSIS development team leadership and management. 
                                Complex features and concept proof development. Mission-critical 
                                applications and database queries tuning. Agile development 
                                methodologies usage, like SCRUM or Kanban. Development of monitors, 
                                kanban boards, KPI (Key Performance Indicator) monitor, etc. 
                                Review and fix functional specifications. Technical review of 
                                commercial proposals (Scope of work - "SOW"). Planning product 
                                releases. Technical assistance to Support and Professional Services 
                                teams. Technical interviews with applicants.
                            </p>
                            <h4>Technologies</h4>
                            <p>PHP 5.*, Oracle, MySQL, jQuery, javascript, Bootstrap.</p>
                            <p>Frameworks: Symfony 2.7 / 2.8 / 3.0, Codeigniter, ultra lightweight MVC Framework developed in-house by me and other Project Leaders.</p>
                            <p>Operating Systems: Linux, Windows, Mac OS and Solaris (only support tasks on applications on the latter).</p>
                            <p>Versioning system: GIT and Subversion.</p>
                            <p>Web Services (client and server): SOAP and REST.</p>
                            <p>Other skills: PHP Composer, vi / vim, Docker, Vagrant, unit testing, TDD, Coding Standard, Markdown, SOAP UI.</p>
                        </article>
                    </div>
                    <div class="col-md-3">
                        <article class="experience">
                            <header>
                                <h3>Intraway Corp.</h3>
                                <p>Solution Developer / April 2009 - November 2011</p>
                            </header>
                            <p>
                                Web applications development to manage telecommunication devices. It 
                                includes a lightway CRM, an intranet, a support application and the 
                                core Web Service. Helping in configuration and customization of this 
                                applications in production environments. Bug detection and fixing. 
                                Unit and functional testing development.
                            </p>
                            <h4>Technologies</h4>
                            <p>PHP 5.*, Oracle, MySQL, jQuery, javascript.</p>
                            <p>Frameworks: Codeigniter.</p>
                            <p>Operating Systems: Linux, Windows.</p>
                            <p>Versioning system: SVN.</p>
                            <p>Web Services (client and server): SOAP.</p>
                            <p>Other skills: vi / vim, unit testing, TDD, PEAR Coding Standard, SOAP UI.</p>
                        </article>
                    </div>
                    <div class="col-md-3">
                        <article class="experience">
                            <header>
                                <h3>Mango Labs</h3>
                                <p>Co-Founder / January 2008 - January 2009</p>
                            </header>
                            <p>
                                Web sites development on demand. Analysis and design of web based 
                                solutions, e-commerce and institutional sites. Preparation of 
                                commercial proposals and technical requirements. Meetings with 
                                customers to review their needs.
                            </p>
                            <h4>Technologies</h4>
                            <p>PHP 5.*, MySQL, Mootools, Prototype, javascript.</p>
                            <p>Frameworks: CakePHP.</p>
                            <p>Operating Systems: Linux, Windows.</p>
                            <p>Other skills: vi / vim, unit testing.</p>                        
                        </article>
                    </div>
                    <div class="col-md-3">
                        <article class="experience">
                            <header>
                                <h3>Casamientos Online</h3>
                                <p>Developer / January 2007 - January 2008</p>
                            </header>
                            <p>Casamientos Online provides a link between couples who want to 
                                get married and providers, like places, souveniers, flowers 
                                and more. Web page redesign. Development and maintenance of 
                                internal applications. Development of new features for 
                                customers like invitation design and sending, tables 
                                arrangement, etc.
                            </p>
                            <h4>Technologies</h4>
                            <p>PHP 5.*, MySQL, Mootools, javascript.</p>
                            <p>Operating Systems: Linux, Windows.</p>
                            <p>Other skills: vi / vim, unit testing.</p> 
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!-- experience ends -->
        
        <!-- contact begins -->
        <section id="page-contact" class="page-contact">
            <div class="container">
                <header class="section-header">
                    <h2 class="section-title">
                        <span>Contact</span>
                    </h2>
                    <div class="spacer"></div>
                    <p class="section-subtitle">
                        Don't hesitate to contact me!
                    </p>
                </header>
                <div class="row">
                    <div class="col-sm-4">
                        <h3>General</h3>
                        <p>I will be happy to answer you as soon as possible</p>
                        <p>I check my cell phone daily </p>
                        <p>So I will respond to your message within 24 hours</p>
                    </div>
                    
                    <div class="col-sm-4 contact-info">
                        <h3>Contact Info</h3>
                        <p>
                            <i class="fa fa-map-marker"></i>
                            Villa del Parque, Capital Federal, Buenos Aires, Argentina 
                        </p>
                        <p>
                            <i class="fa fa-phone"></i> 
                            (11) 5514-4685 
                        </p>
                        <p>
                            <i class="fa fa-envelope-o"></i> 
                            <a href="mailto:gnemes@gmail.com">gnemes@gmail.com</a>
                        </p>
                    </div>

                    <div class="col-sm-4">
                        <h3>Get in Touch</h3>
                        
                        {% if messageDelivered == true %}
                        <div class="alert alert-success" role="alert">
                            Thank you very much! Your message has been sent.
                        </div>
                        {% endif %}
                        
                        {{ form_start(form) }}
                        
                        <div class="control-group">
                            {{ form_label(form.name, 'Name', {'label_attr': {'class': 'control-label'}}) }}
                            <div class="controls">
                                    {{ form_row(form.name, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Your Name'} }) }}
                            </div>
                        </div>
                            
                        <div class="control-group">
                            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'control-label'}}) }}
                            <div class="controls">
                                    {{ form_row(form.email, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Your Email'} }) }}
                            </div>
                        </div>
                            
                        <div class="control-group">
                            {{ form_label(form.message, 'Message', {'label_attr': {'class': 'control-label'}}) }}
                            <div class="controls">
                                    {{ form_row(form.message, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Your Message'} }) }}
                            </div>
                        </div>
                            
                        <div class="form-actions">
                            <div id="success"></div>
                            {{ form_row(form.save, { 'label': 'Submit Message', 'attr': {'class': 'btn btn-default btn-lg btn-block'}}) }}
                        </div>    
                       
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                        <!-- End contact-form -->
                    </div>
                </div>
                <!-- End row -->

            </div>
        </section>
        <!-- contact ends -->

        <script src="{{ asset('js/jquery-2.1.3.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/jquery.scrollTo.min.js') }}"></script>
        <script src="{{ asset('js/jquery.nav.min.js') }}"></script>
        <script src="{{ asset('js/jquery.sticky.min.js') }}"></script>
        <script src="{{ asset('js/vegas.min.js') }}"></script>
        <script src="{{ asset('js/jquery.isotope.min.js') }}"></script>
        <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ asset('js/waypoints.min.js') }}"></script>
        <script src="{{ asset('js/jqBootstrapValidation.min.js') }}"></script>
        <script src="{{ asset('js/main.min.js') }}"></script>

    </body>
</html>