{% extends 'base.html.twig' %}

{% block styles %}
<!-- Fonts from Font Awsome -->
<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
<!-- Magnific popup -->
<link rel="stylesheet" href="{{ asset('css/magnific-popup.min.css') }}">
<!-- Vegas slider -->
<link rel="stylesheet" href="{{ asset('css/vegas.min.css') }}">
<!-- Custom styles for this template -->
<link rel="stylesheet" href="{{ asset('css/main.css') }}">

<!-- Color styles -->
<link rel="stylesheet" href="{{ asset('css/blue.min.css') }}">

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>    
{% endblock %}

{% block body %}
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="main-menu">
                <li>
                    <a href="#page-welcome">Home</a>
                </li>
                <li>
                    <a href="#page-profile">Profile</a>
                </li>
                <li>
                    <a href="#page-skills">Skills</a>
                </li>
                <li>
                    <a href="#page-current">Current</a>
                </li>
                <li>
                    <a href="#page-experience">Experience</a>
                </li>
                <li>
                    <a href="#page-education">Education</a>
                </li>
                <li>
                    <a href="#page-contact">Contact</a>
                </li>
                <!--
                <li>
                    <a href="#page-contact">Blog</a>
                </li>
                -->
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<!-- main begins -->
{{ include('default/sections/main.html.twig') }}
<!-- main ends -->

<!-- about begins -->
{{ include('default/sections/about.html.twig') }}
<!-- about ends -->

<!-- skills begins -->
{{ include('default/sections/skills.html.twig') }}
<!-- skills ends -->

<!-- current begins -->
{{ include('default/sections/current.html.twig') }}
<!-- current ends -->

<!-- experience begins -->
{{ include('default/sections/experience.html.twig') }}
<!-- experience ends -->

<!-- education begins -->
{{ include('default/sections/education.html.twig') }}
<!-- education ends -->

<!-- contact begins -->
{{ include('default/sections/contact.html.twig') }}
<!-- contact ends -->    

{% endblock %}

{% block scripts %}
<script src="{{ asset('js/jquery-2.1.3.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.scrollTo.min.js') }}"></script>
<script src="{{ asset('js/jquery.nav.min.js') }}"></script>
<script src="{{ asset('js/jquery.sticky.min.js') }}"></script>
<script src="{{ asset('js/vegas.min.js') }}"></script>
<script src="{{ asset('js/jquery.isotope.min.js') }}"></script>
<script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('js/waypoints.min.js') }}"></script>
<script src="{{ asset('js/jqBootstrapValidation.min.js') }}"></script>
<script src="{{ asset('js/main.min.js') }}"></script>    
{% endblock %}
