{% extends 'BlogBundle::base.html.twig' %}

{% block body %}
<div class="single">
    <div class="container">
        <div class="col-md-8 single-main">
            {% block post %}
                
            {% endblock %}
            
            <ul class="comment-list">
                <h5 class="post-author_head">Escrito por Gnemes</h5>
                <li>
                    <img src="{{ asset('img/profile.png') }}" class="img-responsive" alt="German Nemes">
                    
                    <div class="desc">
                        <p>PHP Developer</p>
                    </div>
                    
                    <div class="clearfix"></div>
                </li>
            </ul>
                
            <div class="content-form">        
                <h3>Dej&aacute; tu comentario!</h3>
                <form action="{{ path('blog_comment_new') }}" method="post">
                    <input type="hidden" name="post" value="{{post}}"/>
                    <input type="text" name="nickname" placeholder="Nickname" required/>
                    <textarea name="comment" placeholder="Comentario"></textarea>
                    <input type="submit" value="ENVIAR"/>
                </form>
            </div>
            
            <div class="content-form" style="margin-top:20px;">        
                <h3>Comentarios</h3>        
                <ul class="comment-list">
                    {% for comment in comments %}
                        <li>
                            <div class="desc">
                                <p>
                                    <h5 class="post-author_head">@{{comment.nickname}}</h5>
                                    {{comment.comment}}
                                </p>
                            </div>

                            <div class="clearfix"></div>
                        </li>
                    {% endfor %}                
                </ul>
            </div>
        </div>
        {{ include('BlogBundle::Default/right.html.twig') }}
    </div>
</div>
{% endblock %}